* {
    box-sizing: border-box;
}

/* Fancy Header Font Home Page START */

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
.heading-correct-pronounciation {
    margin: auto;
    text-align: center;
    position: relative;
    font-family: 'Cardo', serif;
    font-size: 1.25em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
    color: black;
}

.heading-correct-pronounciation em {
    font-family: 'EB Garamond', serif;
    font-size: 2.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    font-style: normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    color: #0000e0;
}

.heading-correct-pronounciation em::before,
.heading-correct-pronounciation em::after {
    content: "§";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.5em;
}

/* Fancy Header Font Home Page END */

/* Google Maps Styling Start */

#map {
    height: 400px;
    width: 80%;
}

/* Google Maps Styling End */

html,
body,
.container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./../img/dental_background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

footer {
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    padding-top: 0.5rem;
}

figcaption {
    line-height: 1.7em;
    margin-left: 3%;
    margin-right: 3%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_logo {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}

nav {
    width: 100%;
}

nav ul {
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 62.5%;
    color: #0000e0;
    display: block;
    padding: 1.5em;
}

nav ul li a:hover,
nav ul li a:focus {
    font-size: 70%;
    color: blueviolet;
    background: rgba(177, 173, 173, 0.3);
}

.image_container {
    margin: 0 auto;
    position: relative;
    width: 525px;
    height: 343px;
}

.image_container#logo {
    width: 173px;
    height: 41px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.image_container#tooth {
    width: 84px;
    height: 101px;
}

.image_container.vertical {
    width: 325px;
    height: 483px;
}

.image_container img {
    object-fit: cover;
}

.image_container img:not(:first-child) {
    display: none;
}

.image_container .btn {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    bottom: 50%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    outline: none;
}

#btn-left {
    float: left;
}

#btn-right {
    float: right;
}

#btn-left:hover,
#btn-right:hover {
    box-shadow: 0px 0px 20px 5px skyblue;
}

.indented-list {
    text-align: justify;
    line-height: 1.7em;
    width: 90%;
}

.indented-list li {
    list-style: disc outside none;
    margin-left: 5%;
}

.doctors-info figcaption {
    margin-left: 5%;
    margin-right: 5%;
}

.text-left {
    text-align: left;
}

/* Controls Mobile..Below */
.toggle-nav {
    width: 100%;
    padding: 0.5% 1.1%;
    text-align: left;
    box-sizing: border-box;
    font-size: 150%;
    color: #0000e0;
    display: none;
    z-index: 1;
}

@media (max-width: 768px) {
    .toggle-nav {
        display: inline-block;
    }
    nav ul {
        width: 100%;
        display: block;
    }
    nav ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: none;
    }
    .image_container {
        max-width: 100%;
    }
    .image_container img {
        height: 100%;
    }
    .container {
        display: none;
    }
    .about-list {
        font-size: 85%;
    }
}
/* Controls Mobile..Above */
